.destination-block
  .list-destinations(data-slider, data-on-mobile="true", data-center-mode="true", data-center-padding="25px")
    .item-destinations
      +thumbnails({
        thumbUrl: 'images/upload/photo-asterix.jpg',
        thumbAlt: 'Parc Astérix',
        brand: {
          logoUrl: 'images/upload/logo-asterix.png',
          logoAlt: 'Parc Astérix Logo'
        },
        desc: '1 hôtel de 150 chambres avec accès direct au parc.',
        textLink: 'www.parcasterix.fr',
        urlLink: 'www.parcasterix.fr'
      })
    .item-destinations
      +thumbnails({
        thumbUrl: 'images/upload/photo-futuroscope.jpg',
        thumbAlt: 'Futuroscope',
        brand: {
          logoUrl: 'images/upload/logo-futuroscope.png',
          logoAlt: 'Futuroscope Logo'
        },
        desc: 'Un univers ultra-moderne, avec 9 hôtelset une gare TGV dédiée.',
        textLink: 'www.futuroscope.com',
        urlLink: 'www.futuroscope.com'
      })
    .item-destinations
      +thumbnails({
        thumbUrl: 'images/upload/photo-grevin-paris.jpg',
        thumbAlt: 'Grévin Paris',
        brand: {
          logoUrl: 'images/upload/logo-grevin-paris.png',
          logoAlt: 'Grévin Paris Logo'
        },
        desc: 'Un musée toujours réinventé et des formulespour profiter de la capitale.',
        textLink: 'www.grevin-paris.com',
        urlLink: 'www.grevin-paris.com'
      })
