.slider-block
  ul.slick-slider(data-slider, data-arrows='true', data-dots='true')
    li.slider-item
      picture
        source(media='(max-width: 599px)' srcset='images/upload/slider-roller-coasters-sm.jpg')
        +img('roller coaster', 'images/upload/slider-roller-coasters-lg.jpg')
      .desc-slider
        h2.title-slider Une offre de sites de loisirs unique

    li.slider-item
      picture
        source(media='(max-width: 599px)' srcset='images/upload/slider-roller-coasters-sm.jpg')
        +img('roller coaster', 'images/upload/slider-roller-coasters-lg.jpg')
      .desc-slider
        h2.title-slider The page you were looking for doesn't exist.

    li.slider-item
      picture
        source(media='(max-width: 599px)' srcset='images/upload/slider-roller-coasters-sm.jpg')
        +img('roller coaster', 'images/upload/slider-roller-coasters-lg.jpg')
      .desc-slider
        h2.title-slider What are your summer growth goals?
