extends layouts/layout

block vars
  -title = 'Font Awesome'
  -bodyClass = 'style-guide'

block container
  h1.style-guide-header Font Awesome
  h2.style-guide-sub-header Font Awesome component
  br
  br
  br
  br
  ul.icon-list
    li: span.fa.fa-glass.color-2 &nbsp;
    li: span.fa.fa-music &nbsp;
    li: span.fa.fa-search &nbsp;
    li: span.fa.fa-envelope-o &nbsp;
    li: span.fa.fa-heart &nbsp;
    li: span.fa.fa-star &nbsp;
    li: span.fa.fa-user &nbsp;
    li: span.fa.fa-th &nbsp;
    li: span.fa.fa-remove &nbsp;
    li: span.fa.fa-close &nbsp;
